<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FabricExploration.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4562EB9B1C74715A005F9DCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45A03CDD1C72F1C8003FAB9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45A03CF11C72F1CA003FAB9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45A03CFC1C72F1CA003FAB9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
